.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_title
{
    font: 400 24px/1.13 "Sansation";
    color: #000000;
    margin: 52px 0 31px;
}

.content_form
{
    border: 3px solid #B46874;
    border-radius: 20px;
    padding: 46px 3.3%;
    margin-bottom: 71px;
    width: 38%;
    box-sizing: border-box;
}

.form
{
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    width: 546px;
}

.form-row_title
{
    margin: 0 0 9px;
    font: 400 16px/1.13 "Sansation";
    color: #3F434B;
}

.form-row__input
{
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
}

.form-row_error
{
    font: 400 14px/1.14 "Sansation";
    color: #E81A1A;
}

.form-row__description
{
    font: 400 14px/1.14 "Sansation";
    color: #3F434B;
    margin: 0;
}

.form-row__ref
{
    color: #3F434B;
}

.input-file
{
    display: flex;
    align-items: stretch;
    width: 100%;
}

.input-file-text 
{
	padding: 15px 18px;
	box-sizing: border-box;
    font: 400 16px/1.13 "Sansation";
    color: #000000;
	width: 59%;
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 0 12px 12px 0;
	border: 1px solid #ddd;
}

.input-file-btn 
{
  width: 41%;
	cursor: pointer;
	text-decoration: none;
    font: 400 16px/1.13 "Sansation";
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 12px 0 0 12px;
	background-color: #CC3F55;
	padding: 16px 30px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}

.input-file input[type=file] 
{
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + .input-file-btn 
{
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/active */
.input-file:hover .input-file-btn 
{
	background-color: #ED3F5A;
}

.input-file:active .input-file-btn 
{
	background-color: #ED3F5A;
}
 
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn 
{
	background-color: #eee;
}

.form-row__submit
{
    padding: 15px 7.5%;
    font: 400 25px/1.13 "Sansation";
    color: #FFFFFF;
    border: 0;
    border-radius: 12px;
    background: #CC3F55;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
}

.form-row .form-row_submit:hover
{
	background: #ED3F5A;
}