{% extends "headerAuth.html.twig" %}

{% block title %}
    Оформление заказа
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/order/order.css" />
{% endblock %}

{% block main %}
    <main class="order">
        <div class="order__pizza">
            <img src="/uploads/{{ pizza.imageUrl }}" />
            <div class="order__description">
                <p class="order__text">Название: {{ pizza.title }}</p>
                <p class="order__text">Состав: {{ pizza.subtitle }}</p>
            </div>
        </div>
        <p class="order__message">Пицца успешно куплена</p>
    </main>
{% endblock %}