.catalog
{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 105px;
    row-gap: 55px;
    background: #F5F5F5;
    padding: 0 95px 75px;
}

.catalog_title
{
    margin: 52px 46% 0;
    font: 400 32px/1.13 "Sansation";
    color: #000000;
}

.catalog_product
{
    max-width: 241px;
    padding-bottom: 32px;
}

.product
{
    position: relative;
}

.product_image
{
    max-width: 241px;
}

.product_title
{
    font: 400 16px/1.13 "Sansation";
    color: #000000;
}

.product_description
{
    font: 400 14px/1.14 "Sansation";
    color: #595959;
}

.product_submenu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.product_price
{
    font: 400 18px/1.11 "Sansation";
    color: #000000;
}

.product_select
{
    font: 400 14px/1.14 "Sansation";
    color: #D13B3B;
    background: #F8C1C1;
    border: 0;
    border-radius: 14px;
    padding: 8px 35px;
    cursor: pointer;
}

.product_select:hover
{
    background: #FFA0A0;
}