{% extends "header.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//{{ host }}/css/footer.css" />
{% endblock %}

{% block footer %}
<footer class="footer">
    <img src="//{{ host }}/image/LogoFooter.svg" alt="Shokudoo" class="footer_logo" />
    <span class="footer_copyright">© 2023</span>
</footer>
{% endblock %}