{% block stylesheets %}
    <link rel="stylesheet" href="/css/footer.css" />
{% endblock %}

{% block footer %}
<footer class="footer">
    <img src="/image/LogoFooter.svg" alt="Shokudoo" class="footer_logo" />
    <span class="footer_copyright">© 2023</span>
</footer>
{% endblock %}