{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/header.css" />
{% endblock %}

{% block header %}
    <header class="header">
        <a href="/catalog"><img src="/image/LogoX.svg" alt="Shokudoo" class="header_logo" /></a>
        <nav class="header__nav">
            <a class="header__catalog" href="/catalog">Каталог</a>
            <a class="header__order-history" href="/order/list/all">История заказов</a>
            <a class="header__logout" href="/logout">Выход</a>
        </nav>
    </header>
{% endblock %}