{% extends "footer.html.twig" %}

{% block title %}
  Логинация
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/auth/auth.css" />
{% endblock %}


{% block main %}
  <main class="content">
    <p class="content_title">Вход</p>
    <form class="content_form form" method="post">
      <div class="form_form-row form-row">
        <p class="form-row_title">Email*</p>
        <input type="email" name="email" id="inputEmail" class="form-row__input" autocomplete="email" required autofocus>
      </div>
      <div class="form_form-row form-row">
        <p class="form-row_title">Пароль*</p>
        <input type="password" name="password" id="inputPassword" class="form-row__input" autocomplete="current-password" required>
      </div>
      {% if error %}
        <p>Ошибка авторизации</p>
      {% endif %}
      <div class="form_form-row form-row">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="form-row__submit" type="submit">Вход</button>
      </div>
    </form>
  </main>
{% endblock %}