{% extends "headerAuth.html.twig" %}

{% block title %}
  История Заказов
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/order/history.css" />
{% endblock %}


{% block main %}
  <div class="main">
    <p class="title">История заказов</p>
    <div class="table">
      <span class="table__el">Название</span>
      <span class="table__el">Цена</span>
      <span class="table__el">Дата заказа</span>
      {% for product in products %}
          <span class="table__el">{{ product.productName }}</span>
          <span class="table__el">{{ product.price }} ₽</span>
          <span class="table__el">{{ product.orderedAt|date("d.m.Y H:i")  }}</span>
      {% endfor %}
    </div>
  </div>

{% endblock %}